
.navbar{ 
    
    background-color: rgb(43, 20, 245);
    padding: 0%;
    margin: 0%;

    
}

.box{
    display:inline-block;
    margin: 30px;
    width: 150px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    background-color: cornflowerblue;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
h2{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}